<div>
    <div class="background-image__icons">
        <div class="icons__fusion">
            <div class="icons__fusion--cover">
                <i class="fas fa-id-card-alt fa-lg animate__animated animate__lightSpeedInRight"></i>
            </div>
            <div class="icons__fusion--cover__clone">
                <i class="fas fa-id-card-alt fa-lg animate__animated animate__lightSpeedInRight "></i>
            </div>
            <div class="icons__text">Demos</div>
        </div>
        <div class="icons__fusion">
            <div class="icons__fusion--cover">
                <i class="fas fa-cart-plus fa-lg animate__animated animate__lightSpeedInLeft"></i>
            </div>
            <div class="icons__text">Buy Now</div>
        </div>
    </div>
    <div class="background-image">
        <div class="background-image__fusion">
            <div class="background-image__content">
                <h2>Tech Forum!</h2>
                <div class="background-image__caption">Discuss all the latest technology news and trends</div>
                <div class="background-image__button--wrapper">
                    <a href="#"><span>GET AVADA NOW! ></span></a>
                </div>
            </div>
        </div>
    </div>
</div>