<div class="second-part__card">
    <div class="child"></div>
    <h4><a href="#" class="title">Morbi vitae dui euis,pd vulputate sollicitudin</a></h4>
    <p>
        <span>October 11th,2015</span>
        <span> | </span>
        <span> <a href="#" class="comment"> 2 Comments</a> </span>
    </p>
    <p class="content">
        Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat fringilla, vestibulum
        placerat metus
        mattis. Aenean dictum vitae nisl
    </p>
</div>